{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div id="{{ obj_name }}">

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="lead fw-bold">
                                Anemometer <i
                                    class="fa-solid fa-wind-turbine"></i>
                            </p>
                            <span
                                v-if="lists.SENSORVALUE && lists.SENSORVALUE[0]">
                                <p class="text-body-secondary">
                                    [[
                                    universalMapping(lists.SENSORVALUE[0].anemometer)
                                    ]] %
                                </p>
                            </span>
                            <span v-else>
                                <p class="text-body-secondary">
                                    N/A
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="lead fw-bold">
                                Humidity <i
                                    class="fa-solid fa-droplet-percent"></i>
                            </p>
                            <span
                                v-if="lists.SENSORVALUE && lists.SENSORVALUE[0]">
                                <p class="text-body-secondary">
                                    [[
                                    universalMapping(lists.SENSORVALUE[0].humidity)
                                    ]] %
                                </p>
                            </span>
                            <span v-else>
                                <p class="text-body-secondary">
                                    N/A
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="lead fw-bold">
                                Rainfall <i class="fa-solid fa-cloud-rain"></i>
                            </p>
                            <span
                                v-if="lists.SENSORVALUE && lists.SENSORVALUE[0]">
                                <p class="text-body-secondary">
                                    [[
                                    universalMapping(lists.SENSORVALUE[0].rainfall)
                                    ]] %
                                </p>
                            </span>
                            <span v-else>
                                <p class="text-body-secondary">
                                    N/A
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

new Vue({
    
    delimiters: ["[[", "]]"],
    el: "#" + '{{ obj_name }}',
    
    data: {

        loading_state: {},
        lists: {},
        url_models: {},
        endpoints: {},

        info: {
            'MESSAGE': '',
            'TITLE': 'Sample Title'
        },

        props: {},
        state: {}
        
    },


    mounted() {
        
        if (document.querySelector("#" + '{{ obj_name }}')) {
            console.log("Mounted " + '{{ obj_name }}' + " page.")
        }

        initializeModels(this, ['USER', 'SENSORVALUE'])

        universalGet(this,
            'LIST_GET',
            'USER',
            'USER',
            'USER',
            {}, ''
        )

        universalGet(
            this,
            'LIST_GET',
            'SENSORVALUE',
            'SENSORVALUE',
            'SENSORVALUE',
            {},
            ''
        );

        setInterval(() => { // Set interval every 10 seconds.
            universalGet(
                this,
                'LIST_GET',
                'SENSORVALUE',
                'SENSORVALUE',
                'SENSORVALUE',
                {},
                ''
            );
        }, 10000);

    },

    methods: {

        universalMapping(value, oldMin = 0, oldMax = 999, newMin = 0, newMax = 100) {
            console.log(value)
            if (oldMax - oldMin === 0) {
                return 0; // Avoid division by zero
            }
            const mappedValue = ((value - oldMin) / (oldMax - oldMin)) * (newMax - newMin) + newMin;
            return Math.round(mappedValue); // return as integer
        }

    },
});

</script>

{% endblock %}